<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h1>Shops</h1>

<table>
    <tfoot>
<tr>
    <td colspan="3">
<%= link_to 'New product', new_shop_path %>
        </td>
</tr>
</tfoot>
<tbody>
     <% @shops.each do |shop| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
            
            <td class="picture">
<%= image_tag(shop.picture_url, class: 'list_picture') %>
</td>
     
            <td class="service">
<h1><%= shop.service %></h1>
<p>
<%= truncate(strip_tags(shop.service),
length: 80) %>
</p>
</td>
            
        
<ul>
<li><%= link_to 'Show', shop %></li>
<li><%= link_to 'Edit', edit_shop_path(shop) %></li>
<li>
<%= link_to 'Destroy',
shop,
method: :delete,
data: { confirm: 'Are you sure?' } %>
</li>
</ul>
</tr>
<% end %>
</tbody>
</table>            
            

<!--
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Country</th>
      <th>Service</th>
      <th>Picture url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.address %></td>
        <td><%= shop.country %></td>
        <td><%= shop.service %></td>
        <td><%= shop.picture_url %></td>
        <td><%= shop.price %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path %> -->
