<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @shop.country %>
</p>

<p>
  <strong>Service:</strong>
  <%= @shop.service %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @shop.picture_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @shop.price %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
