<p id="notice"><%= notice %></p>

<h1>Sharepopulationsufferingcancers</h1>

<table>
  <thead>
    <tr>
      <th>Entity</th>
      <th>Code</th>
      <th>Year</th>
      <th>Percentage population neoplasms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sharepopulationsufferingcancers.each do |sharepopulationsufferingcancer| %>
      <tr>
        <td><%= sharepopulationsufferingcancer.entity %></td>
        <td><%= sharepopulationsufferingcancer.code %></td>
        <td><%= sharepopulationsufferingcancer.year %></td>
        <td><%= sharepopulationsufferingcancer.percentage_population_neoplasms %></td>
        <td><%= link_to 'Show', sharepopulationsufferingcancer %></td>
        <td><%= link_to 'Edit', edit_sharepopulationsufferingcancer_path(sharepopulationsufferingcancer) %></td>
        <td><%= link_to 'Destroy', sharepopulationsufferingcancer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sharepopulationsufferingcancer', new_sharepopulationsufferingcancer_path %>
