<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @sharepopulationsufferingcancer.entity %>
</p>

<p>
  <strong>Code:</strong>
  <%= @sharepopulationsufferingcancer.code %>
</p>

<p>
  <strong>Year:</strong>
  <%= @sharepopulationsufferingcancer.year %>
</p>

<p>
  <strong>Percentage population neoplasms:</strong>
  <%= @sharepopulationsufferingcancer.percentage_population_neoplasms %>
</p>

<%= link_to 'Edit', edit_sharepopulationsufferingcancer_path(@sharepopulationsufferingcancer) %> |
<%= link_to 'Back', sharepopulationsufferingcancers_path %>
