<p id="notice"><%= notice %></p>

<h1>Alcoholconsumptions</h1>

<body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

<div id="container"></div>
      
<a href = "<%= tests_path %>">this is a link to my data </a>
<p>Find me in app/views/home/index.html.erb</p>

        <script>
      $.getJSON('/mapjson.json', function (data) {

    // Prevent logarithmic errors in color calulcation
    $.each(data, function () {
        this.value = (this.value < 1 ? 1 : this.value);
    });

    // Initiate the chart
    Highcharts.mapChart('container', {

        chart: {
            map: 'custom/world'
        },

        title: {
            text: 'Alcohol Consumption by share of population'
        },

        legend: {
            title: {
                    text: 'Alcohol consumption',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        tooltip: {
            backgroundColor: 'none',
            borderWidth: 0,
            shadow: false,
            useHTML: true,
            padding: 0,
            pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +
                '</span></span> {point.name}<br>' +
                '<span style="font-size:30px">{point.value}</span>',
            positioner: function () {
                return { x: 0, y: 250 };
            }
        },

        colorAxis: {
            min: 1,
            max: 100,
            type: 'logarithmic'
        },

        series: [{
            data: data,
            joinBy: ['iso-a3', 'code3'],
            name: 'Alcohol consumption',
            states: {
                hover: {
                    color: '#a4edba'
                }
            }
        }]
    });
});
      </script>
      
  </body>



<table>
  <thead>
    <tr>
      <th>Entity</th>
      <th>Code</th>
      <th>Year</th>
      <th>Consumption</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alcoholconsumptions.each do |alcoholconsumption| %>
      <tr>
        <td><%= alcoholconsumption.entity %></td>
        <td><%= alcoholconsumption.code %></td>
        <td><%= alcoholconsumption.year %></td>
        <td><%= alcoholconsumption.consumption %></td>
        <td><%= alcoholconsumption.latitude %></td>
        <td><%= alcoholconsumption.longitude %></td>
        <td><%= alcoholconsumption.longitude %></td>
        <td><%= link_to 'Show', alcoholconsumption %></td>
        <td><%= link_to 'Edit', edit_alcoholconsumption_path(alcoholconsumption) %></td>
        <td><%= link_to 'Destroy', alcoholconsumption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alcoholconsumption', new_alcoholconsumption_path %>
