<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @alcoholconsumption.entity %>
</p>

<p>
  <strong>Code:</strong>
  <%= @alcoholconsumption.code %>
</p>

<p>
  <strong>Year:</strong>
  <%= @alcoholconsumption.year %>
</p>

<p>
  <strong>Consumption:</strong>
  <%= @alcoholconsumption.consumption %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @alcoholconsumption.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @alcoholconsumption.longitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @alcoholconsumption.longitude %>
</p>

<%= link_to 'Edit', edit_alcoholconsumption_path(@alcoholconsumption) %> |
<%= link_to 'Back', alcoholconsumptions_path %>
