<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>
<h2>ATCR Cart</h2>

<div class="alert alert-success">
  <strong>Great!</strong> You have successfully bought our service!
</div>

<table>
<% @cart.line_items.each do |line_item| %>
<tr>
<td class="quantity"><%= line_item.quantity %></td>
<td><%= line_item.rehab.name %></td>
<td class="price"><%= number_to_currency(line_item.total_price) %></td>
</tr>
<% end %>
<tfoot>
<tr>
<th colspan="2">Total:</th>
<td class="price"><%= number_to_currency(@cart.total_price) %></td>
</tr>
</tfoot>
</table>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %>



