<p id="notice"><%= notice %></p>

<h1>Riskfactorcancerdeaths</h1>

<body>
     <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
<div id="container"></div> 
        <script>
var data = [0, 21, 44 , 32, 0, 32, 0, 27, 49, 86, 100, 0, 100, 77, 100, 53, 0, 0, 100, 91, 0, 0, 1, 69, 32, 15, 83, 0, 0, 100, 0, 0, 0, 100, 66, 5, 0, 12, 27, -11, 15, 52, 100, 4, 100, 0, 26, 4, 18, 0, 0, 9, 0, 35, 2, 36, 0, 0, 0, 0];

Highcharts.chart('container', {
    title: {
        text: 'Share Population Suffering Cancer Types'
    },
    xAxis: [{
        title: { text: 'Share of Population' },
        alignTicks: false
    }, {
        title: { text: 'Share of Population' },
        alignTicks: true,
        opposite: true
    }],

    yAxis: [{
        title: { text: 'Spread of Cancer' }
    }, {
        title: { text: 'Spread of Cancer' },
        opposite: true
    }],

    series: [{
        name: 'Share Population ',
        type: 'histogram',
        xAxis: 1,
        yAxis: 1,
        baseSeries: 's1',
        zIndex: -1
    }, {
        name: 'Type of Cancer',
        type: 'scatter',
        data: data,
        id: 's1',
        marker: { 
            radius: 1
        }
    }]
});
        </script>
      </body>
    
    
</body>




<table>
  <thead>
    <tr>
      <th>Cause</th>
      <th>Year</th>
      <th>Share deaths</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riskfactorcancerdeaths.each do |riskfactorcancerdeath| %>
      <tr>
        <td><%= riskfactorcancerdeath.cause %></td>
        <td><%= riskfactorcancerdeath.year %></td>
        <td><%= riskfactorcancerdeath.share_deaths %></td>
        <td><%= link_to 'Show', riskfactorcancerdeath %></td>
        <td><%= link_to 'Edit', edit_riskfactorcancerdeath_path(riskfactorcancerdeath) %></td>
        <td><%= link_to 'Destroy', riskfactorcancerdeath, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Riskfactorcancerdeath', new_riskfactorcancerdeath_path %>
