<p id="notice"><%= notice %></p>

<h1>Riskfactorcancerdeaths</h1>

<table>
  <thead>
    <tr>
      <th>Cause</th>
      <th>Year</th>
      <th>Share deaths</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riskfactorcancerdeaths.each do |riskfactorcancerdeath| %>
      <tr>
        <td><%= riskfactorcancerdeath.cause %></td>
        <td><%= riskfactorcancerdeath.year %></td>
        <td><%= riskfactorcancerdeath.share_deaths %></td>
        <td><%= link_to 'Show', riskfactorcancerdeath %></td>
        <td><%= link_to 'Edit', edit_riskfactorcancerdeath_path(riskfactorcancerdeath) %></td>
        <td><%= link_to 'Destroy', riskfactorcancerdeath, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Riskfactorcancerdeath', new_riskfactorcancerdeath_path %>
