<p id="notice"><%= notice %></p>

<h1>Riskfactorcancerdeaths</h1>


<body>
  <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <script>
   // Create the chart
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Share of cancer deaths attributed to risk factors, 2016'
    },
    subtitle: {
        text: 'Global share of cancer deaths are attributed to the range of linked risk factors. These include known risks such as smoking, diet and nutrition, obesity, physical inactivity, alcohol consumption, air pollution, and environmental exposures. The remaining share therefore represents deaths which would be expected to have occurred in the absence of any risk factors. Source: <a href="https://ourworldindata.org/grapher/share-of-cancer-deaths-attributed-to-risk-factors" target="_blank">ourworldindata.org</a>'
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Cancer deaths attributed to risk factors'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },

    "series": [
        {
            "name": "Risk factors",
            "colorByPoint": true,
            "data": [
                {
                    "name": "Cervical Cancer",
                    "y": 100.0,
                    "drilldown": null
                },
                {
                    "name": "Mesothelioma",
                    "y": 91.4,
                    "drilldown": null
                },
                {
                    "name": "Larynx cancer",
                    "y": 71.8,
                    "drilldown": null
                },
                {
                    "name": "Lip and oral cavity cancer",
                    "y": 	69.8,
                    "drilldown": null
                },
                {
                    "name": "Esophageal cancer",
                    "y": 	69.8,
                    "drilldown": null
                },
                {
                    "name": "Colon and rectum cancer",
                    "y": 	53.2,
                    "drilldown": null
                },
                {
                    "name": "Liver cancer",
                    "y": 	41.5,
                    "drilldown": null
                },
                {
                    "name": "Uterine cancer",
                    "y": 	36.5,
                    "drilldown": null
                },
                {
                    "name": "Kidney cancer",
                    "y": 		32.3,
                    "drilldown": null
                },
                {
                    "name": "Bladder cancer",
                    "y": 	32.0,
                    "drilldown": null
                },
                {
                    "name": "Liver cancer",
                    "y": 	41.5,
                    "drilldown": null
                },
                {
                    "name": "Pancreatic cancer",
                    "y": 	27.5,
                    "drilldown": null
                },
                {
                    "name": "Breast cancer",
                    "y": 	26.8,
                    "drilldown": null
                },
                {
                    "name": "Gallbladder and biliary tract cancer",
                    "y": 		15.0,
                    "drilldown": null
                },
                {
                    "name": "Leukemia",
                    "y": 	14.8,
                    "drilldown": null
                },
                {
                    "name": "Ovarian cancer",
                    "y": 		12.3,
                    "drilldown": null
                },
                {
                    "name": "Thyroid cancer",
                    "y": 		9.4,
                    "drilldown": null
                },
                {
                    "name": "Multiple myeloma",
                    "y": 		6.8,
                    "drilldown": null
                },
                {
                    "name": "Non-Hodgkin lymphoma",
                    "y": 		5.1,
                    "drilldown": null
                },
                {
                    "name": "Prostate cancer",
                    "y": 	4.4,
                    "drilldown": null
                },
                            ]
        });
    
    
    </script>
    
   
</body>
    
    





<table>
  <thead>
    <tr>
      <th>Cause</th>
      <th>Year</th>
      <th>Share deaths</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riskfactorcancerdeaths.each do |riskfactorcancerdeath| %>
      <tr>
        <td><%= riskfactorcancerdeath.cause %></td>
        <td><%= riskfactorcancerdeath.year %></td>
        <td><%= riskfactorcancerdeath.share_deaths %></td>
        <td><%= link_to 'Show', riskfactorcancerdeath %></td>
        <td><%= link_to 'Edit', edit_riskfactorcancerdeath_path(riskfactorcancerdeath) %></td>
        <td><%= link_to 'Destroy', riskfactorcancerdeath, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Riskfactorcancerdeath', new_riskfactorcancerdeath_path %>
