<p id="notice"><%= notice %></p>

<h1>Riskfactorcancerdeaths</h1>


<body>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>

<script>
Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Share of cancer deaths attributed to risk factors, 2016'
    },
    subtitle: {
        text: 'Global share of cancer deaths are attributed to the range of linked risk factors. These include known risks such as smoking, diet and nutrition, obesity, physical inactivity, alcohol consumption, air pollution, and environmental exposures. The remaining share therefore represents deaths which would be expected to have occurred in the absence of any risk factors. Source: <a href="https://ourworldindata.org/grapher/share-of-cancer-deaths-attributed-to-risk-factors" target="_blank">ourworldindata.org</a>'
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Cancer deaths attributed to risk factors(%)' 
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
        pointFormat: 'Population in 2017: <b>{point.y:.1f} millions</b>' //fix the text, incorrect! 
    },
    series: [{
        name: 'Risk Factors',
        data: <%= raw @ %>,
        dataLabels: {
            enabled: true,
            rotation: -90,
            color: '#FFFFFF',
            align: 'right',
            format: '{point.y:.1f}', // one decimal
            y: 10, // 10 pixels down from the top
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    }]
});
</script>
    
   
</body>
    
    





<table>
  <thead>
    <tr>
      <th>Cause</th>
      <th>Year</th>
      <th>Share deaths</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @riskfactorcancerdeaths.each do |riskfactorcancerdeath| %>
      <tr>
        <td><%= riskfactorcancerdeath.cause %></td>
        <td><%= riskfactorcancerdeath.year %></td>
        <td><%= riskfactorcancerdeath.share_deaths %></td>
        <td><%= link_to 'Show', riskfactorcancerdeath %></td>
        <td><%= link_to 'Edit', edit_riskfactorcancerdeath_path(riskfactorcancerdeath) %></td>
        <td><%= link_to 'Destroy', riskfactorcancerdeath, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Riskfactorcancerdeath', new_riskfactorcancerdeath_path %>
