<p id="notice"><%= notice %></p>

<h1>Smokings</h1>

<table>
  <thead>
    <tr>
      <th>Entity</th>
      <th>Code</th>
      <th>Year</th>
      <th>Upper bound</th>
      <th>Lower bound</th>
      <th>Estimated prevalence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smokings.each do |smoking| %>
      <tr>
        <td><%= smoking.entity %></td>
        <td><%= smoking.code %></td>
        <td><%= smoking.year %></td>
        <td><%= smoking.upper_bound %></td>
        <td><%= smoking.lower_bound %></td>
        <td><%= smoking.estimated_prevalence %></td>
        <td><%= link_to 'Show', smoking %></td>
        <td><%= link_to 'Edit', edit_smoking_path(smoking) %></td>
        <td><%= link_to 'Destroy', smoking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Smoking', new_smoking_path %>
