<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @smoking.entity %>
</p>

<p>
  <strong>Code:</strong>
  <%= @smoking.code %>
</p>

<p>
  <strong>Year:</strong>
  <%= @smoking.year %>
</p>

<p>
  <strong>Upper bound:</strong>
  <%= @smoking.upper_bound %>
</p>

<p>
  <strong>Lower bound:</strong>
  <%= @smoking.lower_bound %>
</p>

<p>
  <strong>Estimated prevalence:</strong>
  <%= @smoking.estimated_prevalence %>
</p>

<%= link_to 'Edit', edit_smoking_path(@smoking) %> |
<%= link_to 'Back', smokings_path %>
