<p id="notice"><%= notice %></p>

<h1>Our Rehabs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Service</th>
      <th>Picture url</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  
    
  <tbody>
    <% @rehabs.each do |rehab| %>
      <tr>
        <td><%= rehab.name %></td>
        <td><%= rehab.address %></td>
        <td><%= rehab.service %></td>
        <td><%= image_tag(rehab.picture_url) %></td> 
        <td><%= number_to_currency(rehab.price) %></td>
        <td><%= link_to 'Show', rehab %></td>
         <% if current_user && current_user.admin %>
            <td><%= link_to 'Edit', edit_rehab_path(rehab) %></td>
            <td><%= link_to 'Destroy', rehab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to 'New Rehab', new_rehab_path %></td>
         <% end %>
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>


