<p id="notice"><%= notice %></p>

 <div class="container pagination justify-content-center" >
   
    </div>




<h1>Sharepopulationsufferingtypescancers</h1>

<p>
    Share of total population with different types of cancer over time, measured as the age-standardized percentage.<br>
    This share has been age-standardized assuming a constant age structure<br> 
    to compare prevalence between countries and through time.
</p>

<!-- <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Colon and Rectum Cancer', 'Stomach Cancer', 'Liver Cancer'],
          ['2014',  0.0979459332186,      0.0341761128203,      0.0139925557732],
          ['2015',  0.0984727966434,       	0.0341808886957,      0.0147133352726],
          ['2016',  0.0989561978302,      0.0342594401291,      0.0155144249339]
          ]);                                             		                                              				
                    
        var options = {
          title: 'Share of Population by Cancer Type',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
<body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>-->

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= raw  @russiaArray %>);                                             		                                              				
                    
        var options = {
          title: 'Share of Population by Cancer Type',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
<body>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
  </body>

    <div class = "container">
         <%= paginate @share,  left: 3, right: 3, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"  %>  
    </div>


<table>
  <thead>
    <tr>
      <th>Entity</th>
      <th>Code</th>
      <th>Year</th>
      <th>Liver cancer</th>
      <th>Larynx cancer</th>
      <th>Kidney cancer</th>
      <th>Breast cancer</th>
      <th>Thyroid cancer</th>
      <th>Stomach cancer</th>
      <th>Uterine cancer</th>
      <th>Ovarian cancer</th>
      <th>Bladder cancer</th>
      <th>Prostate cancer</th>
      <th>Cervical cancer</th>
      <th>Pancreatic cancer</th>
      <th>Esophageal cancer</th>
      <th>Testicular cancer</th>
      <th>Nasopharynx cancer</th>
      <th>Colon and rectum cancer</th>
      <th>Non melanoma skin cancer</th>
      <th>Lip and oral cancer</th>
      <th>Brain and nervous system cancer</th>
      <th>Tracheal bronchus and lung cancer</th>
      <th>Gallbladder and biliary tract cancer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @share.each do |sharepopulationsufferingtypescancer| %>
      <tr>
        <td><%= sharepopulationsufferingtypescancer.entity %></td>
        <td><%= sharepopulationsufferingtypescancer.code %></td>
        <td><%= sharepopulationsufferingtypescancer.year %></td>
        <td><%= sharepopulationsufferingtypescancer.liver_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.larynx_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.kidney_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.breast_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.thyroid_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.stomach_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.uterine_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.ovarian_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.bladder_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.prostate_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.cervical_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.pancreatic_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.esophageal_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.testicular_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.nasopharynx_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.colon_and_rectum_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.non_melanoma_skin_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.lip_and_oral_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.brain_and_nervous_system_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.tracheal_bronchus_and_lung_cancer %></td>
        <td><%= sharepopulationsufferingtypescancer.gallbladder_and_biliary_tract_cancer %></td>
        <td><%= link_to 'Show', sharepopulationsufferingtypescancer %></td>
          <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_sharepopulationsufferingtypescancer_path(sharepopulationsufferingtypescancer) %></td>
        <td><%= link_to 'Destroy', sharepopulationsufferingtypescancer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
    <div class = "container">
         <%= paginate @share,  left: 3, right: 3, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm"  %>  
    </div>
<br>

<%= link_to 'New Sharepopulationsufferingtypescancer', new_sharepopulationsufferingtypescancer_path %>
