<p id="notice"><%= notice %></p>

<p>
  <strong>Entity:</strong>
  <%= @sharepopulationsufferingtypescancer.entity %>
</p>

<p>
  <strong>Code:</strong>
  <%= @sharepopulationsufferingtypescancer.code %>
</p>

<p>
  <strong>Year:</strong>
  <%= @sharepopulationsufferingtypescancer.year %>
</p>

<p>
  <strong>Liver cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.liver_cancer %>
</p>

<p>
  <strong>Larynx cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.larynx_cancer %>
</p>

<p>
  <strong>Kidney cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.kidney_cancer %>
</p>

<p>
  <strong>Breast cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.breast_cancer %>
</p>

<p>
  <strong>Thyroid cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.thyroid_cancer %>
</p>

<p>
  <strong>Stomach cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.stomach_cancer %>
</p>

<p>
  <strong>Uterine cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.uterine_cancer %>
</p>

<p>
  <strong>Ovarian cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.ovarian_cancer %>
</p>

<p>
  <strong>Bladder cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.bladder_cancer %>
</p>

<p>
  <strong>Prostate cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.prostate_cancer %>
</p>

<p>
  <strong>Cervical cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.cervical_cancer %>
</p>

<p>
  <strong>Pancreatic cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.pancreatic_cancer %>
</p>

<p>
  <strong>Esophageal cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.esophageal_cancer %>
</p>

<p>
  <strong>Testicular cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.testicular_cancer %>
</p>

<p>
  <strong>Nasopharynx cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.nasopharynx_cancer %>
</p>

<p>
  <strong>Colon and rectum cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.colon_and_rectum_cancer %>
</p>

<p>
  <strong>Non melanoma skin cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.non_melanoma_skin_cancer %>
</p>

<p>
  <strong>Lip and oral cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.lip_and_oral_cancer %>
</p>

<p>
  <strong>Brain and nervous system cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.brain_and_nervous_system_cancer %>
</p>

<p>
  <strong>Tracheal bronchus and lung cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.tracheal_bronchus_and_lung_cancer %>
</p>

<p>
  <strong>Gallbladder and biliary tract cancer:</strong>
  <%= @sharepopulationsufferingtypescancer.gallbladder_and_biliary_tract_cancer %>
</p>

<%= link_to 'Edit', edit_sharepopulationsufferingtypescancer_path(@sharepopulationsufferingtypescancer) %> |
<%= link_to 'Back', sharepopulationsufferingtypescancers_path %>
