<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h1>Buy your service</h1>
<ul class="catalog">
    <% @rehab.each do |rehab| %>
<li>
<%= image_tag(rehab_offers.picture_url) %>
<h2><%= rehab.name %></h2>
<p>
<%= sanitize(rehab.service) %>
</p>
<div class="price">
<%= rehab.price %>
</div>
</li>
<% end %>
</ul>

