<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h2>Buy your service</h2>
<ul class="catalog">
   <% cache @rehab do %>
    <% @rehab.each do |rehab| %>
    <% cache rehab do %>
<li>
<%= image_tag(rehab.picture_url) %>
<h3><%= rehab.name %></h3>
<p>
<%= sanitize(rehab.service) %>
</p>
    <p>
        <%= rehab.address %>
    </p>
<div class="price">
<%= number_to_currency(rehab.price) %>
         <button type="button" class="btn btn-success"><%='Add to Cart' %></button>
 </div>
</li>
    <% end %>
    <% end %>
    <% end %>
</ul>

