<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h3>Buy your service</h3>
<ul class="catalog">
   <% cache @rehab do %>
    <% @rehab.each do |rehab| %>
    <% cache rehab do %>
<li>
<%= image_tag(rehab.picture_url) %>
<h4><%= rehab.name %></h4>
<p><%= sanitize(rehab.service) %></p>
    <p>
<%= rehab.address %></p>
<div class="price"><h4>
<%= number_to_currency(rehab.price) %></h4>
         <button type="button" class="btn btn-link"><%= button_to 'Add to Cart', line_items_path(rehab_id: rehab) %></button>
    </div>
</li>
    <% end %>
    <% end %>
    <% end %>
</ul>

