<p id="notice"><%= notice %></p>

<h1>Conferences on Cancer</h1>

<p>In the map you will find the most interesting<br>conferences on cancer in May 2019</p>

<head>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
 <!-- Make sure you put this AFTER Leaflet's CSS -->
     <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
</head>

 <div id="mapid"></div>


<script>
var map = L.map('mapid').setView([55.676, 12.56], 2);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


L.marker([<%= @cancerconferences_latitude && @cancerconferences_mybad %>]).addTo(map)
    .bindPopup(<%=@cancerconferences_event %>)
   .openPopup();
    

   
    
</script>


<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Location</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cancerconferences.each do |cancerconference| %>
      <tr>
        <td><%= cancerconference.event %></td>
        <td><%= cancerconference.location %></td>
        <td><%= cancerconference.country %></td>
        <td><%= cancerconference.latitude %></td>
        <td><%= cancerconference.longitude %></td>
        <td><%= cancerconference.date %></td>
        <td><%= link_to 'Show', cancerconference %></td>
        <td><%= link_to 'Edit', edit_cancerconference_path(cancerconference) %></td>
        <td><%= link_to 'Destroy', cancerconference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cancerconference', new_cancerconference_path %>
